@{
    ViewData["Title"] = "Jsonize";
}
@model Jsonize_Web.Models.APIModel

<div id="top" class=""></div>
<!-- nav -->
<nav class="nav" id="nav">
    <div class="inner-nav">
        <div class="hamburger" id="hamburger">≡</div>
        <ul id="menu">
            <li><a href="#top" class="title anchor">Jsonize</a></li>
            <li><a href="#about" class="anchor">about</a></li>
            <li><a href="#tryit" class="anchor">try it</a></li>
            <li><a href="#usage" class="anchor">usage</a></li>
            <li><a href="#project" class="anchor">project</a></li>
            <li><a href="#contact" class="anchor">contact</a></li>
        </ul>
    </div>
</nav>
<div class="nav-spacer"></div>
<!-- /nav -->
<!-- about -->
<section class="row container">
    
    <div class="inner-row">
        <div id="about" class="anchor-spacer"></div>
        <h1>Jsonize</h1>
        <h2>Convert HTML to JSON</h2>

        <div id="tryit" class="anchor-spacer"></div>
        <p>Enter a URL of a page to convert to JSON. Requires <span class="code">http://</span> or <span class="code">https://</span></p>
        @using (Html.BeginForm("convert", "api", FormMethod.Get, new { }))
        {   
            @Html.TextBoxFor(m => m.url, new { @class = "search", id = "search-box"})
            <a id="submit" href="#" class="button">Go!</a>
            @Html.ValidationMessageFor(m => m.url)
        }

        @Html.TextArea("result", new { @class = "search text-area"})


        <br />
        <div id="usage" class="anchor-spacer"></div>
        <h1>Usage</h1>
        <p>To use the Jsonize API, use the endpoint 
            <span class="code">http://jsonize.co/api/convert</span>, 
            use the id <span class="code">url</span> for the query string. 
        </p>
        <p>E.g. <span class="code">http://jsonize.co/api/convert?url=http%3A%2F%2Fjsonize.co</span></p>

        <br />
        <div id="project" class="anchor-spacer"></div>
        <h1>Github Project</h1>
        <p>The project is available at</p>
        <a href="https://github.com/JackWFinlay/jsonize" class="button">Github</a> 
        <a href="https://www.nuget.org/packages/JackWFinlay.Jsonize/" class="button">NuGet</a>
        <br />
        <br />
        <div id="contact" class="anchor-spacer"></div>
        <h1>Contact</h1>
        <a class="button" href="mailto:jack@jackfinlay.com">email me</a>
    </div> 
</section>
<!-- /about -->

